.projects {
  min-height: 100vh;

  .project-description {
    color: rgb(193, 193, 193);
  }

  .project-subheading {
    margin: 40px 0px 10px 0px;
  }

  .project-cards {
    margin: 2rem 0;
    display: grid;
    grid-template: auto/repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;

    @media screen and (max-width: 568px) {
      grid-template: auto/repeat(auto-fit, minmax(200px, 1fr));
    }
  }
}
